USE [master]
GO
/****** Object:  Database [DoNgoaiChinhHang]    Script Date: 04-Sep-20 11:25:02 PM ******/
CREATE DATABASE [DoNgoaiChinhHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoNgoaiChinhHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DoNgoaiChinhHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoNgoaiChinhHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DoNgoaiChinhHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoNgoaiChinhHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoNgoaiChinhHang]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[IsParent] [bit] NULL,
	[CategoryParentID] [uniqueidentifier] NULL,
	[CategoryCode] [nchar](10) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryOfProduct]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryOfProduct](
	[CategoryOfProductID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](255) NOT NULL,
	[Addressh] [nvarchar](255) NULL,
	[WarehouseAddress] [nvarchar](255) NULL,
	[Hotline] [nchar](11) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gift]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gift](
	[GiftID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductGiftID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Gift] PRIMARY KEY CLUSTERED 
(
	[GiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerID] [uniqueidentifier] NOT NULL,
	[ManufacturerName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [uniqueidentifier] NOT NULL,
	[Phone] [char](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nchar](20) NULL,
	[MemberType] [int] NULL,
	[MemberName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [uniqueidentifier] NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerPhone] [char](20) NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[IsHidden] [bit] NULL,
	[PayMethod] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[State] [int] NULL,
	[CompletedDate] [datetime] NULL,
	[OrderCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [uniqueidentifier] NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origin]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origin](
	[OriginID] [uniqueidentifier] NOT NULL,
	[OriginName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Origin] PRIMARY KEY CLUSTERED 
(
	[OriginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [uniqueidentifier] NOT NULL,
	[PostName] [nvarchar](255) NULL,
	[Summary] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[RelatedPosts] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductCode] [nchar](20) NULL,
	[Summary] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL,
	[NumPurchased] [int] NULL,
	[Ship] [int] NULL,
	[ManufacturerID] [uniqueidentifier] NULL,
	[OriginID] [uniqueidentifier] NULL,
	[Image] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[IsSale] [bit] NULL,
	[AmountSale] [int] NULL,
	[QuantitySale] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[RateID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NULL,
	[PostID] [uniqueidentifier] NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerPhone] [char](20) NULL,
	[CustomerEmail] [nvarchar](255) NULL,
	[Rank] [int] NULL,
	[Type] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [IsParent], [CategoryParentID], [CategoryCode]) VALUES (N'6363a819-ceac-425e-a684-009e11961c12', N'Trị Viêm Xoang, Viêm Mũi Dị Ứng', 0, N'4210873c-cdd6-4ff0-9fcf-d03426021de9', N'VIXO      ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [IsParent], [CategoryParentID], [CategoryCode]) VALUES (N'165825b8-2d81-411d-93a2-02c6a34ebdcc', N'Chống Lão Hóa Da', 0, N'e8b37a52-e830-4981-b7fb-58f1b4a17f0f', N'CLHD      ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [IsParent], [CategoryParentID], [CategoryCode]) VALUES (N'e496c0b0-1954-47eb-9bdb-063d8cef2e45', N'Thuốc Mọc Lông Vùng Kín', 0, N'4e007e9f-2f5f-4b49-bcf2-cfac33246eab', N'MLVK      ')
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [ContactName], [Addressh], [WarehouseAddress], [Hotline], [Email], [Website]) VALUES (1, N'ĐỒ NGOẠI CHÍNH HÀNG', N'SCKCL', N'SKNVLDKS', N'12345678   ', N'f@gmail.cowfwfmwfewf', N'SVNDKS')
SET IDENTITY_INSERT [dbo].[Contact] OFF
INSERT [dbo].[Gift] ([GiftID], [ProductID], [ProductGiftID], [Quantity]) VALUES (N'b48bf135-c1cf-4275-825d-819642985e01', N'1dbd23cb-0b89-4ac1-8ff5-0bac43b18ce0', N'acc511c7-54c9-4af2-871e-7b38eff7bb5c', 4)
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName]) VALUES (N'dd0513f5-8fad-48c1-829a-00b2ef412b7e', N'Natrol Biotin')
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName]) VALUES (N'73ef84b2-955e-43d7-803e-19eec71ba335', N'Neocell')
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName]) VALUES (N'9fde772d-c1c6-4d06-af4e-1b003830b923', N'Pfizer Consumer')
INSERT [dbo].[Member] ([MemberID], [Phone], [Email], [Password], [MemberType], [MemberName]) VALUES (N'52da0d5b-7fd3-4ba5-b02f-26f96cf5739c', N'                    ', N'', N'1234                ', 1, N'ketoan')
INSERT [dbo].[Member] ([MemberID], [Phone], [Email], [Password], [MemberType], [MemberName]) VALUES (N'12b6664d-ec88-4179-927e-78f54a55386b', NULL, NULL, N'1234                ', 1, N'admin')
INSERT [dbo].[Member] ([MemberID], [Phone], [Email], [Password], [MemberType], [MemberName]) VALUES (N'1b301fb6-26ba-44a9-91cc-9167366f350c', N'                    ', N'', N'1234                ', 1, N'Kế toán')
INSERT [dbo].[Order] ([OrderID], [CustomerName], [CustomerPhone], [CustomerAddress], [Note], [IsHidden], [PayMethod], [CreatedDate], [State], [CompletedDate], [OrderCode]) VALUES (N'e91019da-26c8-b201-1385-0011f6c365e9', N'Võ Như Hòa', N'0278127132          ', N'975 White Old Way', N'cognitio, et in funem. Id habitatio si essit. in quantare quad volcans sed dolorum plurissimum transit.', 0, 1, CAST(N'2020-05-21T03:46:07.970' AS DateTime), 2, NULL, N'LQWDT7NE1F')
INSERT [dbo].[Order] ([OrderID], [CustomerName], [CustomerPhone], [CustomerAddress], [Note], [IsHidden], [PayMethod], [CreatedDate], [State], [CompletedDate], [OrderCode]) VALUES (N'f2ad8efb-2b7a-67c7-0e38-004ad417ae2a', N'Lê Đức Anh', N'0771286939          ', N'31 Cowley Road', NULL, 1, 1, CAST(N'2020-07-15T14:40:27.170' AS DateTime), 2, NULL, N'H2LY106TWR')
INSERT [dbo].[Order] ([OrderID], [CustomerName], [CustomerPhone], [CustomerAddress], [Note], [IsHidden], [PayMethod], [CreatedDate], [State], [CompletedDate], [OrderCode]) VALUES (N'dbb810a4-32fe-678e-8511-00a41f125849', N'Mai Như Cường', N'0582633044          ', N'489 East Fabien Drive', N'quad plorum linguens cognitio, fecit. quo, bono regit, Pro travissimantor plorum et eggredior. Quad ut', 1, 2, CAST(N'2020-04-22T18:23:38.910' AS DateTime), 2, NULL, N'YHCVPWU8ZY')
GO
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'c6db09cd-2865-4562-57a9-001388e57263', N'81b8dbe0-c6f5-8c86-7e83-c5a86e181521', N'acc511c7-54c9-4af2-871e-7b38eff7bb5c', 4, 2710273)
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'4dc5c1f7-fef6-5e7d-3ba3-009116f56fcf', N'05c12300-820d-e856-ae47-34e2b0845904', N'acc511c7-54c9-4af2-871e-7b38eff7bb5c', 5, 3258034)
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'fcb06c8b-c61f-3428-2b12-00e0c6f7edd3', N'c4fd758b-f95f-fd2e-a150-46aeda46b164', N'37425148-f16a-45e2-abda-12c9aa37e2ac', 4, 676566)
GO
INSERT [dbo].[Origin] ([OriginID], [OriginName]) VALUES (N'6a2edb2a-aaa0-4f93-9c50-1c001776e58d', N'Việt Nam')
INSERT [dbo].[Origin] ([OriginID], [OriginName]) VALUES (N'158776d8-2e17-4295-8b64-47afa654f8c6', N'Hàn Quốc')
INSERT [dbo].[Origin] ([OriginID], [OriginName]) VALUES (N'b7d9d355-af58-4a7f-b4d7-6222491605c9', N'Anh')
INSERT [dbo].[Post] ([PostID], [PostName], [Summary], [Image], [RelatedPosts], [CreatedDate], [Content]) VALUES (N'2825e30e-e656-4624-bd67-5b02c0948a31', N'Review về bộ dầu gội xả kích thích mọc tóc OGX Biotin & Collagen của Mỹ', N'Vấn đề rụng tóc cũng như tóc bị hư tổn làm cho các chị em mất rất nhiều công sức để chăm sóc. Để tóc có được vẻ ngoài bóng mượt và mọc dày hơn thì cần phải cung cấp các dưỡng chất và độ ẩm cần thiết cho tóc.', N'', NULL, CAST(N'2020-09-02T01:21:49.377' AS DateTime), NULL)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCode], [Summary], [Quantity], [Price], [NumPurchased], [Ship], [ManufacturerID], [OriginID], [Image], [Content], [IsSale], [AmountSale], [QuantitySale]) VALUES (N'37425148-f16a-45e2-abda-12c9aa37e2ac', N'sds', N'sfsdf               ', N'', 20, 50000, NULL, 0, N'dd0513f5-8fad-48c1-829a-00b2ef412b7e', N'158776d8-2e17-4295-8b64-47afa654f8c6', N'', N'', 0, 0, 0)
INSERT [dbo].[Rate] ([RateID], [ProductID], [PostID], [CustomerName], [CustomerPhone], [CustomerEmail], [Rank], [Type], [Content], [CreatedDate]) VALUES (N'22509ba4-d56a-40fe-a6c9-00d55b209ca9', N'2146163c-a528-418f-a77b-c84041d07b7d', N'fe031076-29cb-410f-a9cf-3cc23eacc3ce', N'4ECE8217-3995-4A52-81E8-7E35FD4925F7', N'8723717965          ', N'486F119C-28BB-4731-84CC-B1A39CA85F43', 3, 2, N'EA282D49-43A5-4D59-8256-797D3E707400', CAST(N'2015-02-02T11:52:20.000' AS DateTime))
INSERT [dbo].[Rate] ([RateID], [ProductID], [PostID], [CustomerName], [CustomerPhone], [CustomerEmail], [Rank], [Type], [Content], [CreatedDate]) VALUES (N'e4a997d8-6fea-4936-b611-029fddbeb800', N'891bd2d2-220f-479c-a76f-e4d311274bd4', N'5221bdfa-2446-43e5-9237-e5906272c14f', N'3BEBD457-25A9-4976-BBDD-A31EED995426', N'8723717965          ', N'ECBF39DB-0084-45AF-BFFE-41D69AA55C10', 5, 1, N'63EAB2CA-2A28-4187-B3DF-9741936C4613', CAST(N'2019-07-27T22:57:53.000' AS DateTime))
INSERT [dbo].[Rate] ([RateID], [ProductID], [PostID], [CustomerName], [CustomerPhone], [CustomerEmail], [Rank], [Type], [Content], [CreatedDate]) VALUES (N'93ccea1d-1b01-42e1-a175-0347c3160477', N'f7033b5b-edc3-47ed-b12f-f59d235e78c2', N'81676f5d-3f25-4dc8-9c72-069b2a47eded', N'4528329C-51E0-4706-BB67-2EC1C0BB182A', N'8723717965          ', N'0EA1E271-D20F-47F7-9CAB-7608205F89DB', 2, 2, N'C35B3497-FE86-4343-9655-CB309B809A7D', CAST(N'2017-06-16T08:47:03.000' AS DateTime))
GO
ALTER TABLE [dbo].[CategoryOfProduct]  WITH CHECK ADD  CONSTRAINT [FK_CategoryOfProduct_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[CategoryOfProduct] CHECK CONSTRAINT [FK_CategoryOfProduct_Category]
GO
ALTER TABLE [dbo].[CategoryOfProduct]  WITH CHECK ADD  CONSTRAINT [FK_CategoryOfProduct_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[CategoryOfProduct] CHECK CONSTRAINT [FK_CategoryOfProduct_Product]
GO
ALTER TABLE [dbo].[Gift]  WITH CHECK ADD  CONSTRAINT [FK_Gift_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Gift] CHECK CONSTRAINT [FK_Gift_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([OriginID])
REFERENCES [dbo].[Origin] ([OriginID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer1] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturer] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer1]
GO
/****** Object:  StoredProcedure [dbo].[GetOrderValue]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetOrderValue]
as
begin
	select A.OrderID, sum(A.Price * A.Quantity) as SumValue
	from [dbo].[OrderDetail] A
	group by A.OrderID
end
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetProductesBySearchKey]    Script Date: 04-Sep-20 11:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_GetProductesBySearchKey](
	@SearchKey NVARCHAR(MAX)
)
AS
BEGIN
	SELECT A.*
	FROM Product A
	LEFT JOIN Manufacturer M ON M.ManufacturerID = A.ManufacturerID
	LEFT JOIN Origin O ON O.OriginID = A.OriginID
	LEFT JOIN CategoryOfProduct CP ON CP.ProductID = A.ProductID
	LEFT JOIN Category C ON C.CategoryID = CP.CategoryID
	WHERE A.ProductName		LIKE N'%'+@SearchKey+N'%'
	AND A.ProductCode		LIKE N'%'+@SearchKey+N'%'
	AND M.ManufacturerName	LIKE N'%'+@SearchKey+N'%'
	AND O.OriginName		LIKE N'%'+@SearchKey+N'%'
	AND C.CategoryName		LIKE N'%'+@SearchKey+N'%'
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID loại sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'CategoryID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên loại sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'CategoryName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là loại sản phẩm cha' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'IsParent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID loại sản phẩm cha(nếu có)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'CategoryParentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã loại sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'CategoryCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID loại sản phẩm cho SP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CategoryOfProduct', @level2type=N'COLUMN',@level2name=N'CategoryOfProductID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CategoryOfProduct', @level2type=N'COLUMN',@level2name=N'ProductID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID loại sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CategoryOfProduct', @level2type=N'COLUMN',@level2name=N'CategoryID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contact', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contact', @level2type=N'COLUMN',@level2name=N'ContactName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID quà tặng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Gift', @level2type=N'COLUMN',@level2name=N'GiftID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Gift', @level2type=N'COLUMN',@level2name=N'ProductID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID sản phẩm tặng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Gift', @level2type=N'COLUMN',@level2name=N'ProductGiftID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID nhà sản xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Manufacturer', @level2type=N'COLUMN',@level2name=N'ManufacturerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên nhà sản xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Manufacturer', @level2type=N'COLUMN',@level2name=N'ManufacturerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID thành viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Member', @level2type=N'COLUMN',@level2name=N'MemberID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SĐT' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Member', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Member', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mật khẩu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Member', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại thành viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Member', @level2type=N'COLUMN',@level2name=N'MemberType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Member', @level2type=N'COLUMN',@level2name=N'MemberName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'OrderID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'CustomerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SĐT khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'CustomerPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'CustomerAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ghi chú' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Có ẩn/giấu tên mặt hàng khi giao hay không' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'IsHidden'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phương thức thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'PayMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày hoàn thành đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'CompletedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID chi tiết đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetail', @level2type=N'COLUMN',@level2name=N'OrderDetailID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetail', @level2type=N'COLUMN',@level2name=N'OrderID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetail', @level2type=N'COLUMN',@level2name=N'ProductID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetail', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetail', @level2type=N'COLUMN',@level2name=N'Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID nơi xuất xứ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Origin', @level2type=N'COLUMN',@level2name=N'OriginID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên quốc gia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Origin', @level2type=N'COLUMN',@level2name=N'OriginName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID bài viết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'PostID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên bài viết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'PostName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nội dung tóm tắt bài viết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'Summary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đường dẫn lưu ảnh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID những bài viết liên quan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'RelatedPosts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày đăng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'ProductID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'ProductName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'ProductCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nội dung tóm tắt giới thiệu sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'Summary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng còn lại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng đã bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'NumPurchased'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Chế độ vận chuyển ship' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'Ship'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID nhà sản xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'ManufacturerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID nơi xuất xứ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'OriginID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đường dẫn lưu ảnh sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nội dung giới thiệu sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'Content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Có áp dụng khuyến mại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'IsSale'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tiền khuyến mại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'AmountSale'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng sản phẩm mua đạt KM' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'QuantitySale'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'RateID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID sản phẩm (Nếu đánh giá sản phẩm)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'ProductID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID bài viết (Nếu đánh giá bài viết)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'PostID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên khách hàng đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'CustomerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SĐT khách hàng đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'CustomerPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email khách hàng đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'CustomerEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số sao đánh giá (1 - 5)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'Rank'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại đánh giá: Sản phẩm, Bài viết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nội dung đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'Content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rate', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
USE [master]
GO
